<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd" >

    <import resource="model.xml"/>

    <bean id="requestHandler" class="com.study.lab1.handler.RequestHandler">
        <property name="accountService" ref="accountService"/>
        <property name="requestValidator" ref="requestValidator"/>
    </bean>
    <bean id="accountService" class="com.study.lab1.service.AccountService">
        <property name="accountDao" ref="accountDao"/>
    </bean>
    <bean id="requestValidator" class="com.study.lab1.service.RequestValidator">
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>